html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  text-align: center;
  transition: all .3s linear;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  bottom: 15px;
  left: 35%;
}

.polaroid:hover {
  box-shadow: 1px 4px 10px rgba(0, 0, 0, .9);
}

.polaroid:first-child {
  top: 75.9px;
  left: 192px;
  transform: rotate(-10deg);
}

.polaroid:nth-child(2) {
  left: 288px;
  top: 151.8px;
  transform: rotate(5deg);
  z-index: 15;
}

.polaroid:last-child {
  top: 75.9px;
  left: 384px;
  transform: rotate(30deg);
}

.polaroid:first-child:hover {
  transform: rotate(0deg);
  z-index: 17;
}

.polaroid:nth-child(2):hover {
  transform: rotate(0deg);
  z-index: 17;
}

.polaroid:last-child:hover {
  transform: rotate(0deg);
  z-index: 17;
}
